@import "tailwindcss";
@source inline("{md:,}grid-cols-{2..10}");
@source inline("{md:,}row-span-{2..10}");
@source inline("{md:,}col-span-{2..10}");

@import "./fonts.css";

@utility tap-highlight-transparent {
  -webkit-tap-highlight-color: transparent;
}

@utility smooth-edges {
  backface-visibility: hidden;
}

@utility animate-wave {
  animation: wave 2.5s infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@utility animate-fade-in {
  animation: 1s fade-in 0s ease-in-out;
}

@utility animate-fade-in-index {
  opacity: 0;
  animation-duration: 1s;
  animation-name: fade-in;
  animation-delay: calc(0.2s * var(--i));
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
